body{
  margin: 0;
  padding: 0;
}
h1
{
    margin: 0;
    padding-top: 22px;
    background: #8C0019;
    color: #FFFFFF;
    text-align: center;
    solid #8C0019;
    width: 100%;
    font-size: 60px;
    padding-bottom: 25px;
}

h2
{
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid white;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}
menu
{
    margin-top: 0;
    background: #D50027;
    text-align: center;
    border-left: 10px solid #D50027;
    border-right: 10px solid #D50027;
    border-bottom: 4px solid #D50027;
}

nav
{
    margin: 0;
    padding: 0;
    display: flex;
    padding: 10px;
    justify-content: space-around;

}
nav a
{
    color: white;
    text-decoration: none;    
}
header
{
    position: sticky;
    top : 0 ;
    width: 100%;
}

footer
{
    margin-top: 70px;
    background: #8C0019;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.OneLine
{
  display : inline-block;
}
.content
{
  margin-bottom: 70px;
}

#loginForm
{
    padding: 0 2%;
    font-size: 20px;
    background: #8C0019;
    color: #FFFFFF;
}

table
{
  margin: 0 auto;
  text-align:  left;
}
table thead tr
{
  text-align:  center;
  border: 1px solid black;
}
